:root {
  --body-bg: rgb(13, 25, 43);
  --card-bg: #14253d;
  --line: #2f415b;
  --hover: #00fff7;
  --text: #8bacda;
}

body,
h1,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background: var(--body-bg);
  font-family: "Outfit", sans-serif;
  display: grid;
  align-items: center;
  justify-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

main {
  max-width: 375px;
  border-radius: 20px;
  background: var(--card-bg);
  box-sizing: border-box;
  padding: 24px;
  margin: 40px 20px;
  display: grid;
  gap: 20px;
  box-shadow: 0 30px 40px 10px rgba(0, 0, 0, 0.3);
}

.image-equilibrium img {
  border-radius: 10px;
}

.image-equilibrium {
  position: relative;
}

.image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.image-hover:hover {
  background: rgba(0, 255, 247, 0.5) url("./images/icon-view.svg") no-repeat
    center;
}

.description {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.description h1,
.description p {
  grid-column: 1 / -1;
}

.description h1 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.description h1:hover {
  color: var(--hover);
}

.description p {
  color: var(--text);
  font-size: 1.125rem;
  font-weight: 300;
}

.description p + span {
  color: var(--hover);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.description p + span::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("./images/icon-ethereum.svg") no-repeat;
  display: inline-block;
}

.description span + span {
  grid-column: 2;
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text);
}

.description span + span::before {
  content: "";
  width: 17px;
  height: 17px;
  background: url("./images/icon-clock.svg") no-repeat;
  display: inline-block;
}

.avatar {
  border-top: 1px solid var(--line);
  padding: 20px 0 10px;
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--text);
  font-weight: 300;
}

.avatar img {
  border: 1px solid #fff;
  border-radius: 50%;
  max-width: 40px;
}

.avatar a {
  color: #fff;
  font-weight: 400;
}

.avatar a:hover {
  color: var(--hover);
}

@media (max-width: 350px) {
  .description {
    justify-items: center;
    text-align: center;
  }

  .description span + span {
    grid-column: 1;
  }
}
